* {
  box-sizing: border-box;
}

.section {
  width: 642px;
  height: 492px;

  .textField {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed var(--Component-Stroke, #6b5dff);
    padding: 19px 19px 27px;
    width: 442px;
    overflow: hidden;

    .cursor {
      flex-shrink: 0;
      border-radius: 10px;
      background: var(--Accents-Blue, #0088ff);
      width: 2px;
      height: 22px;
    }

    .aSeparator {
      flex-shrink: 0;
      align-self: stretch;
      box-shadow: 0 -1px var(--Separators-Vibrant, #e6e6e6);
      height: 1px;
    }

    .contents {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      justify-content: center;
      padding-right: 16px;
      padding-left: 16px;
      height: 52px;

      .value {
        display: flex;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        width: 370px;
        line-height: 20px;
        letter-spacing: -0.43px;
        color: var(--Labels-Tertiary, #3c3c434d);
        font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 17px;
        font-weight: 500;
      }
    }

    .contents2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 18px;
      padding-right: 16px;
      padding-left: 16px;
      height: 52px;

      .cursorAndValue {
        display: flex;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
      }
    }

    .contents3 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      justify-content: center;
      margin-top: 18px;
      padding-right: 16px;
      padding-left: 16px;
      height: 52px;

      .text {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        align-self: stretch;

        .cursorAndValue2 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          align-self: stretch;

          .value2 {
            flex-shrink: 0;
            line-height: 20px;
            letter-spacing: -0.43px;
            color: var(--Labels-Primary, #000000);
            font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 17px;
            font-weight: 500;
          }
        }

        .clear {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          width: 20px;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Labels-Tertiary, #3c3c434d);
          font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 17px;
        }
      }
    }

    .contents4 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      justify-content: center;
      margin-top: 18px;
      padding-right: 16px;
      padding-left: 16px;
      height: 52px;

      .value3 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        width: 370px;
        line-height: 20px;
        letter-spacing: -0.43px;
        color: var(--Labels-Primary, #000000);
        font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 17px;
        font-weight: 500;
      }
    }
  }
}
